* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'oswald', 'sans-serif';
  font-size: 10px;
  max-width: 1800px;
  margin: 0 auto;
}

body {
  position: relative;
  background-image: url(../images/spikes.png);
}

.wrap-body {
  position: relative;
  top: 0;
  left: 0;
  transition: .3s;
}

.wrap-body.move {
  left: -50vw;
}


.main-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('../images/bgi_400x640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.main-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(0,0,0,0.8) 60%, rgba(255,255,255,0.7));
}

.main-header .dynamic-txt {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  z-index: 1;
}

.main-header .dynamic-txt h1:nth-child(1),
.main-header .dynamic-txt h1:nth-child(2){
  width: 0ch;
  overflow: hidden;
}

.main-header .dynamic-txt h1:nth-child(1) {
  font-size: 2.4rem;
  animation: typingGreetingFirst 1s steps(5) both;
  border-right: 2px solid white;
}

.main-header .dynamic-txt h1:nth-child(2){
  font-size: 2.6rem;
  animation: typingGreetingSecond 3s steps(15) 1s both;
  white-space: nowrap;
}

@keyframes typingGreetingFirst {
  99% {
    border-right: 2px solid white;
  }
  100% {
    width: 5ch;
    border-right: none;
  }
}

@keyframes typingGreetingSecond {
  1% {
    border-right: 2px solid white;
  }
  99% {
    border-right: 2px solid white;
  }
  100% {
    width: 15ch;
    border-right: none;
  }
}

.email {
  position: absolute;
  top: 70%;
  left: 30%;
  transform: translateX(-50%);
  font-size: 1.3rem;
  color: #fff;
  z-index: 1;
}

.socials {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.socials i {
  font-size: 3.2rem;
}

.socials .social {
  text-decoration: none;
  color: #fff;
}

.socials .social:nth-child(2) {
  color: #0e76a8;
}

.go-down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 10vh;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  background-color: #343f4f;
  color: #fc6d6d; 
  border-radius: 50%;
  font-size: 2.3rem;
  z-index: 1;
  overflow: hidden;
}

.go-down i {
  position: relative;
  bottom: calc(5% + 10vh);
  text-shadow: 0 10px #fc6d6d, 0 -10px #fc6d6d;
  animation: goDown 2s linear 4s infinite;
}

@keyframes goDown {
  100% {
    bottom: calc(5% - 10vh);
  }
}

.menu-btn {
  position: fixed;
  top: 5%;
  right: 10%;
  width: 12vw;
  height: 12vw;
  z-index: 3;
  transition: .3s;
}

.burger {
  width: 10vw;
  height: 2vw;
  background-color: #86242a;
  border-radius: 1vw;
  transition: all .5s ease-in-out;
}

.menu-btn.show {
  transform: translateX(-60vw);
}

.menu-btn.show .burger{
  transform: translateX(-12vw);
  background-color: transparent;
}

.burger::after,
.burger::before {
  content: '';
  position: absolute;
  width: 10vw;
  height: 2vw;
  background-color: #86242a;
  border-radius: 1vw;
  transition: all .5s ease-in-out;
}

.burger::before {
  transform: translateY(-3.5vw);
}

.burger::after {
  transform: translateY(3.5vw);
}

.menu-btn.show .burger::before {
  transform: rotate(45deg) translate(10vw, -10vw);
}

.menu-btn.show .burger::after {
  transform: rotate(-45deg) translate(10vw, 10vw);
}

.main-nav{
  position: fixed;
  width: 60vw;
  height: 100vh;
  top: 0;
  right: -60vw;
  background-color: #151e3d;
  transition: .3s;
  z-index: 3;
}

.main-nav.show{
  right: 0;
}

.main-nav ul {
  list-style: none;
  margin-top: 20%;
}

.main-nav ul li {
  border-bottom: 1px solid #fff;
}

.main-nav ul li:nth-child(1) {
  border-top: 1px solid #fff;
}
.main-nav ul li:nth-child(2n) {
  background-color: #0e76a8;
}

.main-nav ul li a {
  display: block;
  padding: 15px 20px;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
}

.section-header{
  padding: 10px 0;
  color: #fc6d6d;
  background-color: #24292e;
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
}

.about {
  background-color: #343f4f;
}

.about-descript {
  color: white;
  font-size: 2rem;
  text-align: justify;
  padding: 5%;
}

.programming-lang {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.lang-logo {
  position: relative;
  width: 30vh;
  flex-basis: 30vh;
  overflow: hidden;
  z-index: 1;
}

.lang-logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.lang-descript {
  position: relative;
  width: 90%;
  padding: 10px;
  font-size: 1.7rem;
  background-color: #343f4f;
  color: #fff;
  box-shadow: 5px 5px 5px #000;
  margin-top: -7%;
}

.lang-descript .mg-top {
  display: block;
  margin-top: 5%;
}

.programming-lang-progressing,
.programming-lang-next,
.projects,
.hardware {
  margin-top: 10%;
}

.programming-lang-progressing .programming-lang,
.programming-lang-next .programming-lang {
  margin-top: 5%;
}

.programming-lang-progressing .lang-logo,
.programming-lang-next .programming-lang:nth-child(2) .lang-logo {
  border-radius: 50%;
}

.programming-lang-next .programming-lang:nth-child(3) .lang-logo {
  margin-bottom: -20%;
}

.project-title {
  margin-top: 5%;
  padding: 10px;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.project-description {
  display: none;
}

.project-img {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  background-image: url(../images/barber_project_portrait.PNG);
  background-size: cover;
  background-repeat: no-repeat;
}

.project-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.project-img .preview {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px 15px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: white;
  text-decoration: none;
  border: 3px solid white;
  background-color: rgba(0,0,0,0.9);
  z-index: 1;
}

.hardware-wrap {
  position: relative;
  min-height: 50vh;
  background-image: url("/images/hardware_400x640.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hardware-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

.hardware-name {
  position: absolute;
  color: #fff;
  top: 2%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  font-size: 1.8rem;
}

.hardware-description {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 1;
  font-size: 1.4rem;
  list-style: none;
}

footer {
  padding: 10px 0;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  text-align: center;
}


/*początek mediaqueries*/

@media (min-width:375px) {
  .go-down {
    width: 7vh;
    height: 7vh;
    font-size: 2.3rem;
  }
  
  .go-down i {
    bottom: calc(5% + 7vh);
  }
  
  @keyframes goDown {
    100% {
      bottom: calc(5% - 7vh);
    }
  }

  .lang-logo {
    width: 20vh;
    flex-basis: 20vh;
  }

  .programming-lang-next .programming-lang:nth-child(3) .lang-logo {
    margin-bottom: -10%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
  .main-header .dynamic-txt {
    left: 15%;  
  }

  .email {
    top: 67.5%;
    left: 32.5%;
  }
  
  .socials {
    left: 32.5%;
  }

  .go-down {
    width: 9vh;
    height: 9vh;
    font-size: 2.6rem;
  }
  
  .go-down i {
    bottom: calc(5% + 9vh);
    text-shadow: 0 15px #fc6d6d, 0 -15px #fc6d6d;
  }
  
  @keyframes goDown {
    100% {
      bottom: calc(5% - 9vh);
    }
  }

  .menu-btn {
    top: 10%;
    right: 4%;
    width: 10vw;
    height: 10vw;
  }
  
  .burger {
    width: 7vw;
    height: 1vw;
  }
  
  .menu-btn.show .burger{
    transform: translateX(-10vw);
  }
  
  .burger::after,
  .burger::before {
    width: 7vw;
    height: 1vw;
  }
  
  .burger::before {
    transform: translateY(-2vw);
  }
  
  .burger::after {
    transform: translateY(2vw);
  }
  
  .menu-btn.show .burger::before {
    transform: rotate(45deg) translate(7.5vw, -7.5vw);
  }
  
  .menu-btn.show .burger::after {
    transform: rotate(-45deg) translate(7.5vw, 7.5vw);
  }
  
  .programming-langs-use,
  .programming-lang-progressing,
  .programming-lang-next
  {
    display: flex;
    flex-wrap: wrap;
  }
  .section-header {
    flex-basis: 100vw;
  }
  .programming-lang {
    width: 50%;
  }
  
  .lang-logo {
    width: 23vh;
    flex-basis: 23vh;
  }

  .lang-descript {
    width: 80%;
    padding: 15px;
    margin-top: -7%;
  }
  
  .lang-descript .mg-top {
    margin-top: 7%;
  }

  .programming-lang-next .programming-lang:nth-child(3) .lang-logo {
    flex-basis: 20vh;
    margin-bottom: 5vh;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
  }
  .project {
    flex-basis: 49%;
  }
  
  .project-img {
    height: 60vh;
  }
  
  .project-img .preview {
    bottom: 12%;
    padding: 9px 17px;
    border: 4px solid white;
  }

  .hardware-wrap {
    min-height: 40vh;
  }
  
  .hardware-name {
    top: 4%;
  }
}

@media (min-width: 533px) and (orientation: landscape)
 {
  
  html {
    font-size: 9px;
  }

  .main-header .dynamic-txt {
    top: 40%;
    left: 10%;
  }

  .email {
    top: 65%;
    left: 25%;
  }
  
  .socials {
    top: 55%;
    left: 25%;
  }
  .go-down {
    bottom: 7%;
    width: 15vh;
    height: 15vh;
  }
  
  .go-down i {
    position: relative;
    bottom: calc(5% + 15vh);
    text-shadow: 0 10px #fc6d6d, 0 -10px #fc6d6d;
    animation: goDown 2s linear 4s infinite;
  }
  
  @keyframes goDown {
    100% {
      bottom: calc(5% - 15vh);
    }
  }

  .menu-btn {
    position: fixed;
    top: 10%;
    right: 6%;
    width: 5vw;
    height: 5vw;
  }
  
  .burger {
    width: 7vw;
    height: 1vw;
    border-radius: 2vw;
  }
  
  .menu-btn.show .burger{
    transform: translateX(-5vw);
    background-color: transparent;
  }
  
  .burger::after,
  .burger::before {
    width: 7vw;
    height: 1vw;
  }
  
  .burger::before {
    transform: translateY(-2vw);
  }
  
  .burger::after {
    transform: translateY(2vw);
  }
  
  .menu-btn.show .burger::before {
    transform: rotate(45deg) translate(4vw, -4vw);
  }
  
  .menu-btn.show .burger::after {
    transform: rotate(-45deg) translate(4vw, 4vw);
  }

  .main-nav ul{
    margin-top: 0;
  }

  .programming-lang-progressing,
  .programming-lang-next,
  .programming-langs-use {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .section-header {
    flex-basis: 100%;
  }

  .programming-lang {
    width: 80%;
    margin-top: 5%;
    flex-direction: row;
    align-items: center;
  }
  
  .lang-logo {
    width: 40vh;
    flex-basis: 40vh;
    margin-right: 2vw;
  }
  
  .lang-descript {
    margin-top: 0%;
  }

  .lang-descript .mg-top {
    margin-top: 0%;
  }
  
  .programming-lang-next .programming-lang:nth-child(3) .lang-logo {
    margin-bottom: 0%;
  }

  .project {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 5% auto 0;
    background-color: #343f4f;
  }

  .project-title {
    margin-top: 0;
    font-size: 2rem;
    padding: 20px;
    color: #fff;
  }
  
  .project-img {
    width: 80%;
    height: 100vh;
  }

  .hardware-wrap {
    min-height: 70vh;
  }
  
  .hardware-name {
    top: 7%;
  }
}

 @media (min-width: 640px) and (orientation: landscape)
  {
  .burger {
    width: 6vw;
  }
  
  .burger::after,
  .burger::before {
    width: 6vw;
  }
  
  .burger::before {
    transform: translateY(-1.75vw);
  }
  
  .burger::after {
    transform: translateY(1.75vw);
  }
}

@media (min-width: 731px) and (orientation: landscape)
{
  html {
    font-size: 11px;
  }

  .lang-logo {
    width: 45vh;
    flex-basis: 45vh;
  }

  .lang-descript {
    padding: 20px;
  }
}

@media (min-width: 812px) and (orientation: landscape) {
  .go-down i {
    font-size: 2rem;
  }

  .wrap-body.move {
    left: -40vw;
  }
  
  .menu-btn.show {
    transform: translateX(-40vw);
  }
  
  .main-nav{
    width: 40vw;
    right: -40vw;
    
  }
}

@media (min-width: 1024px)
  {
  html {
    font-size: 12px;
  }

  .main-header {
    background-image: url('../images/bgi_1280x640.jpg');
    background-position: center center;
  }
  
  .main-header .dynamic-txt {
    top: 40%;
    left: 15%;
  }
  .email {
    top: 55%;
    left: 26%;
  }
  
  .socials {
    top: 50%;
    left: 26%;
  }
  
  .go-down {
    width: 7vw;
    height: 7vw;
  }
  
  .go-down:hover {
    cursor: pointer;
  }

  .go-down i {
    font-size: 2.4rem;
    bottom: calc(5% + 7vw);
    text-shadow: 0 12px #fc6d6d, 0 -12px #fc6d6d;
  }
  
  @keyframes goDown {
    100% {
      bottom: calc(5% - 7vw);
    }
  }
  
  .menu-btn:hover {
    cursor: pointer;
  }

  .main-nav ul {
    margin-top: 20%;
  }
  
  .main-nav ul li a {
    padding: 20px 25px;
  }

  .main-nav ul li a:hover {
    cursor: pointer;
    background-color: #000;
  }

  .wrap-lang {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .programming-lang-progressing,
  .programming-lang-next,
  .programming-langs-use {
    flex-direction: row;
    width: 50%;
    align-items: flex-start;
    margin-top: 0;
  }

  .programming-lang-next {
    margin-top: 5%;
  }

  .section-header {
    flex-basis: 100%;
  }

  .programming-lang {
    width: 90%;
  }

  .lang-logo {
    width: 30vh;
    flex-basis: 30vh;
  }
  .project {
    align-items: flex-start;
    flex-wrap: wrap;
    flex-basis: 90%;
    margin-top: 0;
  }
  .wrap-project {
    width: 60%;
    text-align: center;
  }
  .project-title {
    margin-top: 2%;
    height: 10vh;
    font-size: 1.8rem;
  }
  
  .project-description {
    display: block;
    font-size: 1.4rem;
    color: white;
    padding: 10px;
  }

  .project-img {
    width: 40%;
    height: 50vh;
  }
  
  .project-img .preview {
    transition: .3s;
  }

  .project-img .preview:hover {
    background-color: #fff;
    color: #000;
  }

  .hardware-wrap {
    position: relative;
    min-height: 50vh;
    background-image: url("/images/hardware_big.png");
    background-size: 50% 100%;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.8);
  }
  
  .hardware-wrap::after {
    width: 0;
    height: 0;
  }
  
  .hardware-name {
    top: 5%;
    left: auto;
    right: 0%;
    width: 50%;
  }
  
  .hardware-description {
    top: 50%;
    left: auto;
    right: 0;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 10px;
  }
  
  .about-descript {
    font-size: 1.7rem;
  }

  .menu-btn {
    width: 8vw;
    height: 8vw;
  }
  
  .menu-btn.show .burger{
    transform: translateX(-8vw);
  }

  .burger {
    width: 5vw;
    height: 1vw;
  }
  
  .burger::after,
  .burger::before {
    width: 5vw;
    height: 1vw;
  }
  
  .burger::before {
    transform: translateY(-1.5vw);
  }
  
  .burger::after {
    transform: translateY(1.5vw);
  }
  
  .menu-btn.show .burger::before {
    transform: rotate(45deg) translate(6vw, -6vw);
  }
  
  .menu-btn.show .burger::after {
    transform: rotate(-45deg) translate(6vw, 6vw);
  }
}

@media (min-width: 1400px) and (orientation: landscape),
        (min-width: 1400px) and (orientation: portrait){
  html {
    font-size: 14px;
  }

  .go-down {
    width: 6vw;
    height: 6vw;   
  }

  .programming-lang-progressing,
  .programming-lang-next,
  .programming-langs-use {
    width: calc(100% / 3);
    margin-top: 0;
  }

  .menu-btn {
    top: 7%;
    right: 5%;
    width: 5vw;
    height: 5vw;
  }
  
  .burger {
    width: 4vw;
    height: .75vw;
  }
  
  .burger::after,
  .burger::before {
    width: 4vw;
    height: .75vw;
  }
  
  .burger::before {
    transform: translateY(-1vw);
  }
  
  .burger::after {
    transform: translateY(1vw);
  }

  .menu-btn.show .burger::before {
    transform: rotate(45deg) translate(8vw, -8vw);
    background-color: #86242a;
  }
  
  .menu-btn.show .burger::after {
    transform: rotate(-45deg) translate(8vw, 8vw);
    background-color: #86242a;
  }

  .project {
    flex-basis: 80%;   
  }

  .project-img {
    height: 60vh;
  }
}

@media (min-width: 1600px) and (orientation: landscape),
        (min-width: 1600px) and (orientation: portrait){
  html {
    .go-down {
      width: 4vw;
      height: 4vw;   
    }
  }
}
