* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'oswald', 'sans-serif';
  font-size: 10px;
}

.main-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('../images/bgi_400x640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.main-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(0,0,0,0.8) 60%, rgba(255,255,255,0.7));
}

.main-header .dynamic-txt {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  z-index: 1;
}

.main-header .dynamic-txt h1:nth-child(1),
.main-header .dynamic-txt h1:nth-child(2){
  width: 0ch;
  overflow: hidden;
}

.main-header .dynamic-txt h1:nth-child(1) {
  font-size: 2.4rem;
  animation: typingGreetingFirst 1s steps(5) both;
  border-right: 2px solid white;
}

.main-header .dynamic-txt h1:nth-child(2){
  font-size: 2.6rem;
  animation: typingGreetingSecond 3s steps(15) 1s both;
  white-space: nowrap;
}

@keyframes typingGreetingFirst {
  99% {
    border-right: 2px solid white;
  }
  100% {
    width: 5ch;
    border-right: none;
  }
}

@keyframes typingGreetingSecond {
  1% {
    border-right: 2px solid white;
  }
  99% {
    border-right: 2px solid white;
  }
  100% {
    width: 15ch;
    border-right: none;
  }
}

.email {
  position: absolute;
  top: 70%;
  left: 30%;
  transform: translateX(-50%);
  font-size: 1.3rem;
  color: #fff;
  z-index: 1;
}

.socials {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.socials i {
  font-size: 3.2rem;
}

.socials .social {
  text-decoration: none;
  color: #fff;
}

.socials .social:nth-child(2) {
  color: #0e76a8;
}

.go-down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 10vh;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  background-color: #343f4f;
  color: #fc6d6d; 
  border-radius: 50%;
  font-size: 2.3rem;
  z-index: 1;
  overflow: hidden;
}

.go-down i {
  position: relative;
  bottom: calc(5% + 10vh);
  text-shadow: 0 10px #fc6d6d, 0 -10px #fc6d6d;
  animation: goDown 2s linear 4s infinite;
}

@keyframes goDown {
  100% {
    bottom: calc(5% - 10vh);
  }
}

.menu-btn {
  position: fixed;
  top: 5%;
  right: 10%;
  width: 12vw;
  height: 12vw;
  z-index: 3;
}

.burger {
  width: 10vw;
  height: 2vw;
  background-color: #fff;
  border-radius: 1vw;
  transition: all .5s ease-in-out;
}

.menu-btn.show .burger{
  transform: translateX(-12vw);
  background-color: transparent;
}

.burger::after,
.burger::before {
  content: '';
  position: absolute;
  width: 10vw;
  height: 2vw;
  background-color: #fff;
  border-radius: 1vw;
  transition: all .5s ease-in-out;
}

.burger::before {
  transform: translateY(-3.5vw);
}

.burger::after {
  transform: translateY(3.5vw);
}

.menu-btn.show .burger::before {
  transform: rotate(45deg) translate(10vw, -10vw);
  background-color: #86242a;
}

.menu-btn.show .burger::after {
  transform: rotate(-45deg) translate(10vw, 10vw);
  background-color: #86242a;
}

.mobile{
  position: fixed;
  display: none;
  top: 10%;
  right: 10%;
  background-color: #151e3d;
  transition: .3s;
  z-index: 3;
}

.mobile.show{
  display: block;
}

.mobile ul {
  list-style: none;
}

.mobile ul li {
  border-bottom: 1px solid #fff;
}

.mobile ul li:nth-last-child(1) {
  border: none;
}

.mobile ul li:nth-child(2n) {
  background-color: #0e76a8;
}

.mobile ul li a {
  display: block;
  padding: 15px 20px;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
}

.about {
  background-color: #343f4f;
}

.section-header{
  padding: 10px 0;
  color: #fc6d6d;
  background-color: #24292e;
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
}

.about-descript {
  color: white;
  font-size: 2rem;
  text-align: justify;
  padding: 5%;
}

.programming-lang {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.lang-logo {
  position: relative;
  width: 30vh;
  flex-basis: 30vh;
  overflow: hidden;
  z-index: 1;
}

.lang-logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.lang-descript {
  position: relative;
  width: 90%;
  padding: 10px;
  font-size: 1.7rem;
  background-color: #343f4f;
  color: #fff;
  box-shadow: 5px 5px 5px #000;
  margin-top: -7%;
}

.lang-descript .mg-top {
  display: block;
  margin-top: 5%;
}

.programming-lang-progressing,
.programming-lang-next,
.projects,
.hardware {
  margin-top: 10%;
}

.programming-lang-progressing .programming-lang,
.programming-lang-next .programming-lang {
  margin-top: 5%;
}

.programming-lang-progressing .lang-logo,
.programming-lang-next .programming-lang:nth-child(2) .lang-logo {
  border-radius: 50%;
}

.programming-lang-next .programming-lang:nth-child(3) .lang-logo {
  margin-bottom: -20%;
}

.project-title {
  margin-top: 5%;
  padding: 10px;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.project-img {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.project-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.project-img img {
  max-width: 100%;
}

.project-img .preview {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px 15px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: white;
  text-decoration: none;
  border: 3px solid white;
  background-color: rgba(0,0,0,0.9);
  z-index: 1;
}

.hardware-wrap {
  position: relative;
  min-height: 50vh;
  background-image: url("/images/hardware_400x640.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hardware-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

.hardware-name {
  position: absolute;
  color: #fff;
  top: 2%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  font-size: 1.8rem;
}

.hardware-description {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 1;
  font-size: 1.4rem;
}

footer {
  padding: 10px 0;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  text-align: center;
}
