* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'oswald', 'sans-serif';
  font-size: 10px;
}

.main-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('../images/bgi_400x640.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.main-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(0,0,0,0.8) 60%, rgba(255,255,255,0.7));
}

.main-header .dynamic-txt {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  z-index: 1;
}

.main-header .dynamic-txt h1:nth-child(1),
.main-header .dynamic-txt h1:nth-child(2){
  width: 0ch;
  overflow: hidden;
}

.main-header .dynamic-txt h1:nth-child(1) {
  font-size: 2.4rem;
  animation: typingGreetingFirst 1s steps(5) both;
  border-right: 2px solid white;
}

.main-header .dynamic-txt h1:nth-child(2){
  font-size: 2.6rem;
  animation: typingGreetingSecond 3s steps(15) 1s both;
  white-space: nowrap;
}

@keyframes typingGreetingFirst {
  99% {
    border-right: 2px solid white;
  }
  100% {
    width: 5ch;
    border-right: none;
  }
}

@keyframes typingGreetingSecond {
  1% {
    border-right: 2px solid white;
  }
  99% {
    border-right: 2px solid white;
  }
  100% {
    width: 15ch;
    border-right: none;
  }
}

.socials {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.socials i {
  font-size: 3.2rem;
}

.socials i:nth-child(2) {
  color: #0e76a8;
}

.go-down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 10vh;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  background-color: #343f4f;
  color: #fc6d6d; 
  border-radius: 50%;
  font-size: 2.3rem;
  z-index: 1;
  overflow: hidden;
}

.go-down i {
  position: relative;
  bottom: calc(5% + 10vh);
  text-shadow: 0 10px #fc6d6d, 0 -10px #fc6d6d;
  animation: goDown 2s linear 4s infinite;
}

@keyframes goDown {
  100% {
    bottom: calc(5% - 10vh);
  }
}

main {
  display: flex;
  flex-direction: column;
}

.about {
  background-color: #343f4f;
}

.section-header{
  padding: 10px 0;
  color: #fc6d6d;
  background-color: #24292e;
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
}

.about-descript {
  color: white;
  font-size: 2rem;
  text-align: justify;
  padding: 5%;
}

.programming-lang {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.lang-logo {
  position: relative;
  width: 30vh;
  flex-basis: 30vh;
  overflow: hidden;
  z-index: 1;
}

.lang-logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.lang-descript {
  position: relative;
  width: 90%;
  padding: 10px;
  font-size: 1.7rem;
  background-color: #343f4f;
  color: #fff;
  border-radius: 5%;
  box-shadow: 5px 5px 5px #000;
  margin-top: -7%;
}

.lang-descript .mg-top {
  display: block;
  margin-top: 5%;
}

.programming-lang-progressing,
.programming-lang-next,
.projects {
  margin-top: 10%;
}

.programming-lang-progressing .programming-lang,
.programming-lang-next .programming-lang {
  margin-top: 5%;
}

.programming-lang-progressing .lang-logo,
.programming-lang-next .programming-lang:nth-child(2) .lang-logo {
  border-radius: 50%;
}

.programming-lang-next .programming-lang:nth-child(3) .lang-logo {
  margin-bottom: -20%;
}